<%- include('../includes/head.ejs')  %> 
<link rel="stylesheet" href="../css/adminADD.css"/>
</head>

<body>
    <%- include('../includes/navbar.ejs')  %> 
    <main>
        <div class="container">
            <div class="top-box">
                <h1>Admin Dashboard</h1>
            </div>
            <div class="left-box">
                <a href="/admin"><i class="fas fa-table"></i><p>Producten</p></a>
                <a href="/Add-product" class="actieve"><i class="fas fa-plus-square"></i><p>Product toevoegen</p></a>
                <a href="/orders"><i class="fas fa-plus-square"></i><p>Nieuwe Bestelingen</p></a>
                <a href=""><i class="fas fa-plus-square"></i><p>Oude Bestelingen</p></a>
                <a href="/logout"><i class="fas fa-power-off"></i><p>Uitloggen</p></a>
            </div>
            <div class="right-box">
                <form class="product-form" action="<% if (editing) { %>edit-product<% } else { %>Add-product<% } %>" method="POST">
                    <div class="form-control">
                        <label for="">ProductNaam</label>
                        <input type="text" name="ProductNaam" value="<% if (editing) { %><%= product.ProductNaam %><% } %>">
                    </div>
                    <div class="form-control">
                        <label for="">ProductImg</label>
                        <input type="file" name="ProductImg"  value="<% if (editing) { %><%= product.ProductImg %><% } %>">
                    </div>
                    <div class="form-control">
                        <label for="">ProductPrijs</label>
                        <input type="number" name="ProductPrijs"  step="0.01" value="<% if (editing) { %><%= product.ProductPrijs %><% } %>">
                    </div>
                    <div class="form-control">
                        <label for="">ProductBeschrijving</label>
                        <textarea name="ProductBeschrijving" rows="1"><% if (editing) { %><%= product.ProductBeschrijving %><% } %></textarea>
                    </div>
                    <div class="form-control">
                        <label for="">ProductCategorie</label>
                        <input type="text" name="ProductCategorie" value="<% if (editing) { %><%= product.ProductCategorie %><% } %>">
                    </div>
                    <div class="form-control">
                        <label for="">ProductMaat</label>
                        <input type="text" name="ProductMaat" value="<% if (editing) { %><%= product.ProductMaat %><% } %>">
                    </div>
                    <div class="form-control">
                        <label for="">ProductKleur</label>
                        <input type="text" name="ProductKleur" value="<% if (editing) { %><%= product.ProductKleur %><% } %>">
                    </div>
                    <% if (editing) { %>
                        <input type="hidden" value="<%= product._id %>" name="productId">
                    <% } %>
        
                    <div class="form-control">
                        <button class="btn" type="submit"><% if (editing) { %>Update Product<% } else { %>Product toevoegen<% } %></button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <%- include('../includes/footer.ejs')  %>