<%- include('../includes/head.ejs')  %> 
</head>

<body>

    <main>
        <form class="product-form" action="<% if (editing) { %>/admin/edit-product<% } else { %>Add-product<% } %>" method="POST">
            <div class="form-control">
                <label for="">ProductNaam</label>
                <input type="text" name="ProductNaam" value="<% if (editing) { %><%= product.title %><% } %>">
            </div>
            <div class="form-control">
                <label for="">ProductImg</label>
                <input type="text" name="ProductImg"  value="<% if (editing) { %><%= product.imageUrl %><% } %>">
            </div>
            <div class="form-control">
                <label for="">ProductPrijs</label>
                <input type="number" name="ProductPrijs"  step="0.01" value="<% if (editing) { %><%= product.price %><% } %>">
            </div>
            <div class="form-control">
                <label for="">ProductBeschrijving</label>
                <textarea name="ProductBeschrijving" rows="2"><% if (editing) { %><%= product.description %><% } %></textarea>
            </div>
            <% if (editing) { %>
                <input type="hidden" value="<%= product._id %>" name="productId">
            <% } %>

            <button class="btn" type="submit"><% if (editing) { %>Update Product<% } else { %>Product toevoegen<% } %></button>
        </form>
        <a href="/admin">Terug naar producten</a>
    </main>