<%- include('../includes/head.ejs')  %> 
    <link rel="stylesheet" href="../css/admin.css"/>
</head>
  <body>
        <%- include('../includes/navbar.ejs')  %> 
            <main>
                <!-- als er meer producten zijn daan 1 doe wat hier onder is ander ga naar else -->
                <% if (prods.length > 0) { %>
                    <div class="container">
                        <div class="top-box">
                            <h1>Admin Dashboard</h1>
                        </div>
                        <div class="left-box">
                            <a href="/admin" class="actieve"><i class="fas fa-table"></i><p>Producten</p></a>
                            <a href="/Add-product"><i class="fas fa-plus-square"></i><p>Product toevoegen</p></a>
                            <a href="/orders"><i class="fas fa-plus-square"></i><p>Nieuwe Bestelingen</p></a>
                            <a href=""><i class="fas fa-plus-square"></i><p>Oude Bestelingen</p></a>
                            <a href="/logout"><i class="fas fa-power-off"></i><p>Uitloggen</p></a>
                        </div>
                        <div class="right-box">
                                <div class="besteling-box">
                                    <div class="top">
                                        <p>ProductNaam</p>
                                        <p>ProductImg</p>
                                        <p>ProductPrijs</p>
                                        <p>ProductBeschrijving</p>
                                        <p>ProductMaat</p>
                                        <p>ProductKleur</p>
                                        <p></p>
                                    </div>
                                    <div class="bottom">
                                        <% for (let product of prods) { %>
                                        <div class="besteling">
                                            <p><%= product.ProductNaam %></p>
                                            <img src="<%= product.ProductImg %>" alt="<%= product.ProductNaam %>">
                                            <p><%= product.ProductPrijs %></p>
                                            <p><%= product.ProductBeschrijving %></p>
                                            <p><%= product.ProductMaat %></p>
                                            <p><%= product.ProductKleur %></p>
                                            <div>
                                                <a href="edit-product/<%= product._id %>?edit=true"  class="btn">Edit</a>
                                                <form action="/delete-product" method="POST">
                                                    <input type="hidden" value="<%= product._id %>" name="productId">
                                                    <button class="btn" type="submit">Delete</button>
                                                </form>
                                            </div>
                                        </div>
                                        <% } %>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <!-- als er geen producten zijn doe dit -->
                    <% } else { %>
                        <h1>No Products Found!</h1>
                    <% } %>
            </main>
            <%- include('../includes/footer.ejs')  %>