<%- include('../includes/head.ejs')  %> 
    <link rel="stylesheet" href="../css/admin.css"/>
</head>
  <body>
        <%- include('../includes/navbar.ejs')  %> 
            <main>
                <div class="container">
                    <%- include('../includes/adminSideBar.ejs')  %> 
                    <div class="right-box">
                            <% if (prods.length > 0) { %>
                            <table class="besteling-box">
                                <tr class="top">
                                    <th>ProductNaam</th>
                                    <th>ProductImg</th>
                                    <th>ProductPrijs</th>
                                    <th>ProductBeschrijving</th>
                                    <th>ProductMaat</th>
                                    <th>ProductKleur</th>
                                    <th></th>
                                </tr>
                                <% for (let product of prods) { %>
                                    <tr class="besteling">
                                        <td><%= product.productNaam %></td>
                                        <td><img src="<%= product.productImg %>" alt="<%= product.productNaam %>"></td>
                                        <td><%= product.productPrijs %></td>
                                        <td><%= product.productBeschrijving %></td>
                                        <td><%= product.productMaat %></td>
                                        <td><%= product.productKleur %></td>
                                        <td>
                                            <div class="btns">
                                                <a href="edit-product/<%= product._id %>?edit=true"  class="btn">Edit</a>
                                                <form action="/delete-product" method="POST">
                                                    <input type="hidden" value="<%= product._id %>" name="productId">
                                                    <button class="btn" type="submit">Delete</button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                <% } %>
                            </table>
                            <% } else { %>
                                <h1>No Products Found!</h1>
                            <% } %>
                        </div>
                    </div>
            </main>
            <%- include('../includes/footer.ejs')  %>