<%- include('../includes/head.ejs')  %> 
    <link rel="stylesheet" href="../css/producten.css" />
</head>
  <body>
    <%- include('../includes/navbar.ejs')  %> 
    <main>
      <%- include('../includes/productBasis.ejs') %> 

        <div class="producten-grid">
          <% if (prods.length > 0) { %>
            <% for (let product of prods) { %>
            <div class="product">
              <div class="">
                <a href="/productSpecificatie/<%= product._id %>"><img class="img-product" src="<%=product.ProductImg %>" alt="" /> </a>
                <div class="product-beschrijving">
                  <div class="oorbel-naam"><%= product.ProductNaam %></div>
                  <%- include('../includes/winkelmand.ejs', {product: product}) %>
                </div>
              </div>
            </div>
            <% } %>
          <% } else { %>
              <h1>Geen prodcten gevonden</h1>
          <% } %>
        </div>
      </div>
    </main>
    <%- include('../includes/footer.ejs')  %> 