<%- include('../includes/head.ejs')  %> 
    <link rel="stylesheet" href="../css/bestellingen.css"/>
</head>
<body>
    <%- include('../includes/navbar.ejs')  %> 
    <main>
        <div class="container">
            <div class="top-box">
                <h1>Bestellingen</h1>
            </div>
            <div class="left-box">
                <a href="/profiel"><i class="fas fa-user"></i><p>Account</p></a>
                <a href="/bestellingen" class="actieve"><i class="fas fa-shopping-basket"></i><p>Bestellingen</p></a>
                <a href="/logout"><i class="fas fa-power-off"></i><p>Uitloggen</p></a>
            </div>
            <div class="right-box">
                <div class="besteling-box">
                    <div class="bottom">
                        <% if (orders.length <= 0) { %>
                          <h1>Geen nieuwe bestellingen</h1>
                        <% } else { %>
                          <% orders.slice().reverse().forEach(order => { %>
                            <div class="besteling">
                                <div class="left">
                                  <h1>OrderID: <span><%= order._id %></span></h1>
                                  <h1>Klant: <span><%= order.user.name %></span></h1>
                                  <h1>Bestelde producten:</h1>
                                    <% order.products.forEach(p => { %>
                                      <p><%= p.quantity %> <%= p.product.ProductNaam %></p>
                                    <% }); %>
                                </div>
                            </div>
                          <% }); %>
                        <% } %>
                      </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('../includes/footer.ejs')  %> 