<%- include('../includes/head.ejs')  %> 
    <link rel="stylesheet" href="../css/producten.css" />
</head>
  <body>
    <%- include('../includes/navbar.ejs')  %> 
    <main>
      <div class="titel">
        <h2><%= pageTitle %></h2>
        <div class="dropbox">
          <label>Sorteren op:</label>
          <select class="oorbellen" name="oorbellen">
            <option value="rood" name="rood">Rood</option>
            <option value="groen">Groen</option>
            <option value="blauw">Blauw</option>
          </select>
        </div>
      </div>
      
      <div class="sorteren">
        <h3 class="items-gevonden">135 items gevonden</h3>
        <div class="desktop-knoppen">
          <button class="btn">Alles</button>
          <button class="btn non-active">Populair</button>
          <button class="btn non-active">Nieuw</button>
        </div>
      </div>
      
      <div class="desktop-flex">
      
        <div class="opties">
          <form action="/kleurOorbellen" method="POST">
            <div class="optie-1">
              <label>Kleur:</label>
              <select onchange="this.form.submit()" name="kleur">
                <option value="" selected disabled hidden>Kies hier:</option> 
                <option name="alles" value="alles">Alles</option>
                <option name="rood" value="rood">Rood</option>
                <option name="groen" value="groen">Groen</option>
                <option name="blauw" value="blauw">Blauw</option>
              </select>
            </div>
          </form>
          
          <form action="/prijsOorbellen" method="POST">
            <div class="optie-3">
              <label>Prijs:</label>
              <select onchange="this.form.submit()" name="prijs">
                <option value="" selected disabled hidden>Kies hier:</option> 
                <option name="alles" value="alles">Alles</option>
                <option name="laagHoog" value="laagHoog">laag - hoog</option>
                <option name="hoogLaag" value="hoogLaag">hoog - laag</option>
              </select>
            </div>
          </form>
        </div>

        <div class="producten-grid">
          <% if (prods.length > 0) { %>
            <% for (let product of prods) { %>
            <div class="product">
              <div class="">
                <a href="/productSpecificatie/<%= product._id %>"><img class="img-product" src="<%=product.productImg %>" alt="" /> </a>
                <div class="product-beschrijving">
                  <div class="oorbel-naam"><%= product.productNaam %></div>
                  <%- include('../includes/winkelmand.ejs', {product: product}) %> 
                </div>
              </div>
            </div>
            <% } %>
          <% } else { %>
              <h1>Geen prodcten gevonden</h1>
          <% } %>
        </div>
      </div>
    </main>
    <%- include('../includes/footer.ejs')  %> 