<%- include('../includes/head.ejs')  %> 
    <link rel="stylesheet" href="../css/producten.css" />
</head>
  <body>
    <%- include('../includes/navbar.ejs')  %> 
    <main>
      <div class="titel">
        <h2>Oorbellen</h2>
        <div class="dropbox">
          <label>Sorteren op:</label>
          <select class="oorbellen" name="oorbellen">
            <option value="rood">Rood</option>
            <option value="groen">Groen</option>
            <option value="blauw">Blauw</option>
          </select>
        </div>
      </div>

      <div class="sorteren">
        <h3 class="items-gevonden">135 items gevonden</h3>
        <div class="desktop-knoppen">
          <button class="btn">Alles</button>
          <button class="btn non-active">Populair</button>
          <button class="btn non-active">Nieuw</button>
        </div>
      </div>

      <div class="desktop-flex">
        <div class="opties">
          <div class="optie-1">
            <label>Kleur:</label>
            <select name="kleur">
              <option value="alles">Alles</option>
              <option value="Rood">Rood</option>
              <option value="Groen">Groen</option>
              <option value="Blauw">Blauw</option>
            </select>
          </div>
          <div class="optie-2">
            <label>Maat:</label>
            <select name="kleur">
              <option value="alles">Alles</option>
              <option value="M">Medium</option>
              <option value="L">Large</option>
            </select>
          </div>
          <div class="optie-3">
            <label>Prijs:</label>
            <select name="prijs">
              <option value="alles">Alles</option>
              <option value="M">laag - hoog</option>
              <option value="L">hoog - laag</option>
            </select>
          </div>
        </div>

        <div class="producten-grid">
          <!-- <div class="product">
            <div class="">
              <a href="/productSpecificatie"><img class="img-product" src="../img/Producten/Oorbel1.png" alt="" /> </a>
              <div class="product-beschrijving">
                <div class="oorbel-naam">Oorbel naam</div>
                <div class="oorbel-prijs">$ 5,99</div>
                <div class="hartje"><img src="../img/Producten/hartje.png" alt="" /></div>
              </div>
            </div>
          </div> -->
          <% if (prods.length > 0) { %>
            <% for (let product of prods) { %>
            <div class="product">
              <div class="">
                <a href="/productSpecificatie"><img class="img-product" src="<%= product.ProductImg %>" alt="" /> </a>
                <div class="product-beschrijving">
                  <div class="oorbel-naam"><%= product.ProductNaam %></div>
                  <div class="oorbel-prijs"><%= product.ProductPrijs %></div>
                  <div class="hartje"><img src="../img/Producten/hartje.png" alt="" /></div>
                </div>
              </div>
            </div>
            <% } %>
          <% } else { %>
              <h1>Product no wound</h1>
          <% } %>
        </div>
      </div>
    </main>
    <%- include('../includes/footer.ejs')  %> 