<%- include('../includes/head.ejs')  %> 
    <link rel="stylesheet" href="../css/productenSpecs.css" />
  </head>
  <body>
    <%- include('../includes/navbar.ejs')  %> 
    <main>
        <div class="left-box">
          <h2 class="mobile-title"><%= prods.productNaam %></h2>
          <h2 class="desktop-title"><%= prods.productNaam %></h2>
          <p class="desktop-gevonden">1 item gevonden</p>
          <div class="center">
            <img class="bigSpec" src="<%=prods.productImg %>" alt="" />
          </div>
        </div>

        <div class="right-box">
          <div class="product-header">
            <h2><%= prods.productNaam %></h2>
            <h2 class="product-prijs-mobile">$<%= prods.productPrijs %></h2>
          </div>
          <p class="product-categorie"><%= prods.productCategorie %></p>
          <h2 class="product-prijs-desktop">$<%= prods.productPrijs %></h2>
          <p class="product-beschrijving"><%= prods.productBeschrijving %></p>
          <div class="buttons">
            <a class="btn" href="#">Koop nu</a>
            <a class="btn winkelmand" href="#">In winkelmand</a>
          </div>
        </div>
    </main>
    <%- include('../includes/footer.ejs')  %> 