<%- include('../includes/head.ejs')  %> 
    <link rel="stylesheet" href="../css/profiel.css"/>
</head>
<body>
    <%- include('../includes/navbar.ejs')  %> 
    <main>
        <div class="container">
            <div class="top-box">
                <h1>Persoonlijke gegevens</h1>
            </div>
            <div class="left-box">
                <a href="/profiel" class="actieve"><i class="fas fa-user"></i><p>Account</p></a>
                <a href="/bestellingen"><i class="fas fa-shopping-basket"></i><p>Bestellingen</p></a>
                <a href="/logout"><i class="fas fa-power-off"></i><p>Uitloggen</p></a>
            </div>
            <div class="right-box">
                <div class="informatie-box">
                    <p>Naam:<span> <%= user.name %></span></p>
                    <p>Adres:<span> <%= user.adres %></span></p>
                    <p>Plaats:<span> <%=user.plaats %></span></p>
                    <p>Email:<span> <%= user.email %></span></p>
                </div>
                <button type="submit">Bevestig gegevens</button>
            </div>
        </div>
    </main>
    <%- include('../includes/footer.ejs')  %> 