<%- include('../includes/head.ejs')  %> 
    <link rel="stylesheet" href="../css/winkelmand.css"/>
</head>
<body>
    <%- include('../includes/navbar.ejs')  %> 
    <main>
        <div class="container">
            <div class="top-box">
                <h1>Winkelmand</h1>
            </div>
            <div class="form">
                <% if (prods.length > 0) { %>
                <div class="top-form">
                    <% prods.forEach (p => { %>
                    <div class="card">
                        <div class="left">
                            <img src="<%= p.productId.ProductImg %>" alt="">
                        </div>
                        <div class="middel">
                            <p><%= p.productId.ProductNaam %></p>
                            <p><%= p.productId.ProductCategorie %></p>
                            <p>$<%= p.productId.ProductPrijs %></p>
                        </div>
                        <div class="right">
                            <form action="/winkelmand-delete-item" method="POST">
                                <input type="hidden" value="<%= p.productId._id %>" name="productId">
                                <button class="btn" type="submit">Delete</button>
                            </form>
                            <div class="button">
                                <p><%= p.quantity %></p>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>
                <div class="bottom-form">
                    <div class="totaal">
                        <p>Totaal:</p>
                        <% const item = prods.map (p => { 
                         const prijs = p.productId.ProductPrijs 
                         const quantity =  p.quantity 
                         return quantity * prijs 
                         }) %>
                         <% const total = item.reduce((a,b) => a + b, 0) %>
                         <p>$<%= total %></p>
                    </div>
                    <form action="/create-order" method="POST">
                        <button type="submit">Reken af</button>
                    </form>
                </div>
                <% } else { %>
                    <h1>Geen producten in uw winkelmand!</h1>
                <% } %>
            </div>
        </div>
    </main>
    <%- include('../includes/footer.ejs')  %> 