<%- include('../includes/head.ejs')  %> 
<link rel="stylesheet" href="../css/login.css" />
  </head>
  <body>
    <%- include('../includes/navbar.ejs')  %> 
    <!-- main -->
    <main>
      <div class="links">
        <img src="../img/login/rechtsImg.png" />
      </div>
      <div class="rechts">
        <div class="cirlecs">
          <div class="circel-1"></div>
          <div class="circel-2"></div>
          <div class="circel-3"></div>
          <div class="circel-4"></div>
          <div class="circel-5"></div>
        </div>
        <div class="form-container">
          <div class="top-box">
            <h1>Leuk dat je er bent!</h1>
            <p>Account aanmaken</p> 
            <% if (errorMessage) { %>
              <div class="user-message user-message-error"> <%= errorMessage %></div>
              <% } %>
          </div>
          <form action="/signup" method="POST" novalidate>
            <div class="input-box">
                <label for="naam"><i class="fas fa-user"></i></label>
                <input type="text" name="name" value="<%= oldInput.name %>" placeholder="Vul uw naam in" />
              </div>
  
              <div class="input-box">
                <label for="email"><i class="fas fa-envelope"></i></label>
                <input type="email" name="email" value="<%= oldInput.email %>" placeholder="Vul uw email in" />
              </div>
  
              <div class="input-box">
                  <label for="password"><i class="fas fa-lock"></i></label>
                  <input type="password" name="password" placeholder="Vul uw wachtwoord in" />
                </div>
                <div class="input-box">
                    <label for="password"><i class="fas fa-lock"></i></label>
                    <input type="password" name="confirmPassword" placeholder="Confirm uw wachtwoord in" />
                  </div>
            <button type="submit">Registreer je</button>
            <a href="/login"
              ><p>Heb je al een account?<span>Log in</span></p></a
            >
          </form>
        </div>
      </div>
    </main>
    <%- include('../includes/footer.ejs')  %> 